body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light text color */
}

header {
    background-color: #2A2A2A; /* Dark gray */
    color: #D1C4E9; /* Soft purple for contrast */
    padding: 10px 0;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

header h1 {
    margin: 5px 0;
    font-size: 1.8em;
}

header p {
    font-size: 1em;
    margin: 5px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #1A1A1A; /* Darker navigation bar */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #80CBC4; /* Cyan for links */
    font-size: 1em;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #BB86FC; /* Purple on hover */
}

.container {
    width: 80%;
    margin: 20px auto;
}

section {
    background-color: #1F1F1F; /* Dark section background */
    border: 1px solid #333; /* Darker border */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #BB86FC; /* Purple color for section headings */
    margin-bottom: 10px;
}

h3 {
    color: #E0E0E0; /* Light gray text */
}

ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    background-color: #2C2C2C; /* Dark footer */
    color: #BB86FC; /* Purple footer text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 1.5em;
}

footer p {
    margin: 0;
    font-size: 1em;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    color: #80CBC4; /* Cyan links */
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
    color: #BB86FC; /* Purple on hover */
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.project-images img {
    border-radius: 8px;
}

.project-images img:nth-child(2) {
    max-width: 200px;
    max-height: 400px;
}

.project-images img:nth-child(n + 3) {
    max-width: 200px;
    max-height: 400px;
}
